.head {
  display: flex;
  justify-content: center;
 flex-direction: column;
 align-items: center;
 margin-top: 50px;
 height: 200px;
}

body {
  background-image: url('back.webp');
  background-size: cover;
  min-height: 100vh;
 
  /*
  to fall back on
  */
  background-color: #cccccc; 
}

h1 {
  color: white;
  font-family:'Elms Sans' ;
  font-size: 50px;
}


.search {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.search-img {
  width: 20px;
  height: 20px;
}

input {
  width: 300px;
  height: 50px;
  margin-right: 20px;
  border-radius: 30px;
  text-align: center;
  font-family:Elms Sans ;
 
}
.search-anime {
  width: 50px;
  height:50px;
  margin-top: 2px;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
 
}



.gojo-img{
  display: flex;

  justify-content: center;
  align-items: center;
}

.gojo {
height: 150px;

}

.anime-grid {
  height: auto; 
  min-height: max-content; 
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.anime-card {
  width: 200px;
  height: auto;
  margin: 40px;
  box-shadow: 0 0 15px rgba(100, 100, 255, 0.5);
   border-radius: 20px;
   position: relative;
   cursor: pointer;
}

.details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;

}

.details-p {
  color: white;
  font-size: 20px;
  margin-right: 8px;
  margin-left: 8px;
  font-family: Elms Sans;
}

.anime-img {
  width: 100%;
  object-fit: cover;
  height: 300px;
  border-radius: 10px;
  
}

.title {
display: flex;
justify-content: center;
align-items: center;
padding: 10px;
}

.anime-title {
  font-family: Elms Sans;
  color: white;
  font-weight: bold;
  margin-top: 0px;
}

.rating-info {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 3px;
  padding: 0px 15px;
  height: 30px;
}

.rating {
  font-family: sans-serif;
  color: white;
  margin-left: 5px;
}

.overlay-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  display: none;
   z-index:1000;
}

.modal {
  width: 500px;
  height: auto;
  min-height: max-content;
  background-color: #121212;
  border-radius: 20px;
  color: white;
  font-family: Elms Sans;
  padding: 30px;
 position: relative;
}

.exit {
  position: absolute;
  top:10px;
  right: 10px;
  color: red;
  font-size: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
